:host ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

:host ::-webkit-scrollbar-track {
  background: transparent;
}

:host ::-webkit-scrollbar-thumb {
  background: #e0c0b1;
  border-radius: 4px;
}

:host ::-webkit-scrollbar-thumb:hover {
  background: #8c7164;
}
