<div class="search-box">
  <button
    class="search-icon hover:cursor-pointer"
    (mousedown)="$event.preventDefault()"
    (click)="valueChange.emit($any($event.target).value)"
    aria-label="Search"
  >
    <span class="material-symbols-outlined">search</span>
  </button>
  <input
    class="search-input"
    [placeholder]="placeholder()"
    [value]="value()"
    (input)="valueChange.emit($any($event.target).value)"
    (keyup.enter)="valueChange.emit($any($event.target).value)"
  />
  @if (value()) {
    <button
      class="search-clear hover:cursor-pointer"
      (mousedown)="$event.preventDefault()"
      (click)="clear.emit()"
    >
      <span class="icon-lg">close</span>
    </button>
  }
</div>
